RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]
ErrorDocument 404 "<center><h3>Sorry for the Incovenience, the requested web page is missing in the server. <br> Please Contact Technical Support</h3><br>Regards- Stark Tech Innovative Labs,Bengaluru<br><a href='tel:9886162566' >Call us</a> </center> "